.block_tamagotchi{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}

.block_game_tamagotchi{
    margin: 0 auto;
}

.block_game_tamagotchi{
margin: 8px 0;
}

.up_tamagochi, .restart_game{
    padding: 8px 20px;
    margin-right: 16px;
    border-radius: 10px;
    background-color: bisque;
}

.progress_bar_element{
    height: 40px;
    width: 380px;
    margin-bottom: -12px;
}

.actions_tamagotchi{
    margin: 0 auto;
}

.start-button{
    display: none;
}