.bubbles{
    position : absolute;
    background-color: Red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid black
}

.bubbles:hover{
    background-color: yellow;
}